.checkboxes__wrap {
  display: flex;
  justify-content: space-between;
  @media (max-width: 575px) {
    flex-direction: column;
  }
}
.emoji__wrap {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 418px;
    width: 2px;
    height: 20px;
    background-image: url("../img/bg-triangle.png");
    @media (max-width: 1361px) {
      left: 402px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 420px;
    width: 2px;
    height: 20px;
    background-image: url("../img/bg-triangle.png");
    @media (max-width: 1361px) {
      right: 403px;
    }
  }
  @media (max-width: 1024px) {
    &::after,
    &::before {
      content: none;
    }
  }
}
.emoji__group {
  display: flex;
  justify-content: space-between;
  border-image: url("../img/line.png") 1;
  border-image-width: 0 0 2px 0;
  padding: 0 50px;
  padding-bottom: 44px;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 70px;
    width: 2px;
    height: 20px;
    background-image: url("../img/bg-triangle.png");
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 70px;
    width: 2px;
    height: 20px;
    background-image: url("../img/bg-triangle.png");
  }
  @media (max-width: 1024px) {
    border-image: none;
    border-image-width: none;
    border-bottom: 2px solid #451f18;
    padding: 0 42px;
    padding-bottom: 44px;
    &::after,
    &::before {
      content: none;
    }
  }
  @media (max-width: 768px) {
    padding: 0 35px;
    padding-bottom: 44px;
  }
  @media (max-width: 575px) {
    padding: 0 13px;
    padding-bottom: 42px;
  }
}
.emoji {
  width: 45px;
  height: 45px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.range {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto 22px auto;
  width: 90%;
  input {
    width: 100%;
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    width: 88%;
  }
}
@supports (-moz-appearance: none) {
  .range {
    margin-bottom: 12px;
  }
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 23px;
  clip-path: polygon(0px 0px, 24px 0px, 12px 23px);
  background-image: url("../img/bg-triangle.png");
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #f9f6f4;
  border-right: 15px solid #f9f6f4;
  -moz-clip-path: polygon(0px 0px, 24px 0px, 12px 23px);
  background-image: url("../img/bg-triangle.png");
}

.range {
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    @media (max-width: 575px) {
      padding: 16px 0 0 0;
    }
  }

  &__info-item {
    color: $main--color;
    text-align: center;
    font-family: $font2;
    font-size: $text--sm;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:last-child {
      transform: translateX(15px);
    }
    &:nth-child(2) {
      transform: translateX(15px);
    }
    &:nth-child(3) {
      transform: translateX(15px);
    }
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
