html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: inherit;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}
img {
  display: block;
  width: 100%;
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
