* {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
    transition: 0.4s ease-in-out;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    transition: 0.4s ease-in-out;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #00000030;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #00000030;
    transition: 0.4s ease-in-out;
  }
}
.wrapper {
  position: relative;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 150px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 400px;
    width: 50%;
    height: 20%;
    background-color: #c89077;
    filter: blur(300px);
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1200px;
    width: 50%;
    height: 20%;
    background-color: #c89077;
    filter: blur(300px);
  }
  @media (max-width: 1024px) {
    width: auto;
    padding-top: 0;
    &::before,
    &::after {
      content: none;
    }
  }
}
.bg__gradient {
  &::after {
    content: "";
    position: absolute;
    right: -50px;
    bottom: -270px;
    width: 40%;
    height: 20%;
    background-color: #c89077;
    filter: blur(470px);
  }
  @media (max-width: 1024px) {
    &::after {
      content: none;
      display: none;
    }
  }
}
.relative {
  position: relative;
  z-index: 1;
  background-color: #f9f6f4;
}
.header {
  display: flex;
  padding: 60px 0 0 100px;
  @media (max-width: 575px) {
    padding: 30px 0 0 0px;
  }
}
.logo {
  width: 131px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.main {
  padding: 0 100px;
  @media (max-width: 1024px) {
    padding: 0;
  }
}
.title__lg {
  color: $main--color;
  font-family: $font1;
  font-size: $lg;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  margin-bottom: 50px;
}
.list__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.list__title {
  color: $main--color;
  font-family: $font2;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 16px;
  @media (max-width: 575px) {
    font-size: 16px;
  }
}
.list__text {
  color: $main--color;
  font-family: $font2;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-bottom: 2px solid #000;
  padding-left: 16px;
  flex-grow: 1;
  @media (max-width: 575px) {
    font-size: 16px;
  }
}
.title__md {
  color: $main--color;
  font-family: $font2;
  font-size: $md;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
  @media (max-width: 575px) {
    font-size: 20px;
  }
}
.sub__text {
  color: $main--color;
  font-family: $font2;
  font-size: $text--sm;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
@import "checkbox.scss";
@import "range.scss";
@import "calculator.scss";
.textarea {
  color: $main--color;
  font-family: $font2;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  vertical-align: middle;
  text-align: justify;
  @media (max-width: 1024px) {
    font-size: 26px;
  }
  @media (max-width: 575px) {
    font-size: 22px;
    line-height: 1.5;
  }
}
.plan {
  display: flex;

  .radio {
    display: flex;
    align-items: center;
    margin-right: 127px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    .radio {
      margin-bottom: 20px;
    }
  }
}
.block {
  display: flex;
  align-items: center;
  .title__md {
    margin-bottom: 0;
    font-size: 22px;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
  &__info {
    color: $main--color;
    font-family: $font2;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 16px;
    border-image: url("../img/line.png") 1;
    border-image-width: 0 0 2px 0;
    width: 150px;
    max-width: 100%;
    text-align: center;
    @media (max-width: 575px) {
      font-size: 22px;
    }
  }
  .data {
    border-image: url("../img/line.png") 1;
    border-image-width: 0 0 2px 0;
    width: 190px;
    max-width: 100%;
    text-align: center;
  }
}
